#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Item-row_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Picture_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-date_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-star_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Label_20 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: -1px;
  margin-top: -1px;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-aa6f46cd-4ede-4916-b792-ad4722a0f6fe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}